{% extends 'base.html' %}
{% load static %}
{% block title%}
{{nam}}
{% endblock %}

{% block body %} 
<div class="container">
    <div class="row">

      <div class="col-sm-4 mt-5">

        <div class="card mt-2" style="width: 18rem;">
          {% for i in profile %}
          <img src="{{i.im.url}}" class="card-img-top rounded-circle " style="height: 200px;" >
          {% endfor %}
          <div class="card-body">
            <h5 class="card-title alert alert-success text-center">DETAIL OF THE ORDER</h5>
           <!--<p class="card-text">Thanks for shopping   </p>--> 
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center "> <strong>Total_item &nbsp {{count}}</strong> </li>
            <li class="list-group-item text-center"> <strong>Total_Price &nbsp {{total}}</strong> </li>
            <li class="list-group-item text-center"><a href="{% url 'address' %}" class="btn btn-info text-center {% if not count %} disabled {% endif %}">PLACE ORDER</a></li>
          </ul>
          <div class="card-body text-center">
            <a class="btn btn-success " href="{% url 'home' %}" class="card-link">HOME</a>
            <a class="btn btn-primary " href="{% url 'home' %}" class="card-link">SHOP MORE</a>
          </div>
        </div>
      
      </div>
      
      <div class=" col-sm-8  row  text-center mt-1">
        
        <div class="container">
          <div class="row">
            <div class="text-center mt-5"><h2 class="alert alert-info">{{nam}}</h2></div>
            {% if item %}
            {% for it in item %}
            <h1></h1>

            <div class="col-sm-4 bor "><img src="{{it.sel.pic.url}}" class = "img-thumbnail  abd " ></div>

            <div class="col-sm-7 offset-1 mt-2 text-center ">  
              
              <div class="card" style="width: 18rem;">
                <div class="card-header bg-primary">
                  <strong>DETAIL</strong> 
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item "> <strong> PRICE &nbsp : &nbsp {{it.sel.price |upper}}</strong></li>
                  <li class="list-group-item"> <strong>TYPE &nbsp : &nbsp {{it.sel.itype |upper}}</strong> </li>
                  <li class="list-group-item"><a class="btn btn-danger" href="{% url 'remove' it.id %}">Remove <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                  </svg></a></li>
                </ul>
              </div>
            </div>
            <hr>
            {% endfor %}
            {% else %}
            <div ><a class="btn btn-warning text-center mt-5" href="{% url 'home' %}">SHOP NOW </a></div>
            {% endif %}
         

        </div>
        
        </div>
      </div>

<!--from here second row started-->

      

  </div>
   
</div>


{% endblock %}