{% extends 'base.html' %}
{% load static %}
{% block title%}
{{nam}}
{% endblock %}

{% block body %} 
<div class="container">
    <div class="text-center alert alert-warning"><h1>{{nam}}</h1></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4 offset-2">
            <form action="{% url 'validate' %}" method="post">
                {% csrf_token %}
            
                <div class="row">
                    <label for="colFormLabelLg" class="col-sm-6 col-form-label col-form-label-lg alert alert-info">ENTER OTP</label>
                    <div class="col-sm-6">
                      <input type="number" class="form-control form-control-lg" name="otp1" id="colFormLabelLg" placeholder="enter otp">
                    </div>
                  </div>
                <br>
                
                <div class="text-center"><input class="col-sm-6  btn btn-secondary " type="submit" value="SUBMIT"> </div>
              
            </form>

        </div>
        

    </div>
</div>


{% endblock %}